{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
  <title>Register</title>
</head>

<body class="login">
  <div id="container">
    <div id="header">
      <h1>Register</h1>
    </div>
    <div id="content">
      <div id="content-main">
        <form action="register" method="post" id="login-form">

        {% csrf_token %}

        <div class="form-row">
        <label for="id_username">Username :</label>
        <input type="text" name="username" id="id_username">
        </div>

        <div class="form-row">
        <label for="id_email">Email :</label>
        <input type="email" name="email" id="id_username">
        </div>

        <div class="form-row">
        <label for="id_password">Password :</label>
        <input type="password" name="password" id="id_password">
        </div>

        <div class="form-row">
        <label for="id_password2">Confirm password :</label>
        <input type="password" name="password2" id="id_password">
        </div>

        <div class="submit-row">
        <input type="submit" value="Register" class="default">
        </div>
        </form>
</body>
</html>

